h1{
	text-align: center
}
h2{
	text-align:center
}
h3{
	text-align:center
}
p{
	width: 70%;
	text-indent: 5%;
	margin-left: 5%;
}
.content{
	display: flex;
	flex-direction: row;
	width: 90%;
	text-align: justify
}
.pr{
	width: 300px;
	padding-left: 2%;
}
.pr1{
	width: 300px;
	height: 100px;
	padding-left: 2%;
}
.pr2{
	text-align: center;
}
